**/.vs
**/.vscode
**/bin
**/obj
**/.git
**/.gitignore
**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/*.md
**/*.DotSettings.user
**/.idea
**/.editorconfig
**/node_modules
**/npm-debug.log
**/.DS_Store
**/secrets.dev.yaml
**/.env
**/charts
**/sdks/
**/azds.yaml
**/LICENSE
**/README.md
**/.github
